.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    background: #6c1697;
}
.item{
    background-color: lightblue;
    padding: 10px;
    color: #333;
}