.container{
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    flex-basis: 20%;
    gap: 20px;
}
.item{
    background-color: lightblue;
    padding: 10px;
    color: #333;
}