.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    background: #333;
    margin: 10px;
}
.item{
    background-color: lightblue;
    padding: 10px;
    color: #333;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: center;
    font-weight: 1000;
}